body {
  background-color: #DCF0F5;
}

h1 {
  display: inline-block;
}

.container {
 /* border: 1px dashed gray;*/
 /* height: 40px;*/
  position: absolute;
  left: 0px;
  width: 64%;
  top: 25%;
}


.box2 {
  width: 10%;
  float: right;
  
}

.uk {
  width: 100%
}

.box1 {
  background-color: red;
  right: 0;
}

.box2 {
  position: relative;
}

.europe {
  text-align: right;
}

.europe img {
  width: 50%;
}
